{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths -%}

<div class="no-js fixed contain-to-grid">
  {%- if page_paths -%}
  <nav class="no-js top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="name logo">
        <h1>
          <a href="{{ "/" | relative_url }}" style="height:100%">
            <img src="{{ "/assets/img/ns3_logo.png" | relative_url }}" alt="ns-3 logo">
          </a>
        </h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Google Site Search -->
      <div class="google-cse columns small-6 medium-2">
        <script async src="https://cse.google.com/cse.js?cx=015078672058311939832:k12i6xjmkkh"></script>
        <div class="gcse-searchbox-only" data-resultsUrl="{{ "/search-results/" | relative_url }}" data-newWindow="false" data-queryParameterName="q" data-gname="storesearch" placeholder="Search"></div>
      </div>

      <!-- Right Nav Section -->
      <ul class="right">
        {%- for path in page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
          <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {%- endif -%}
        {% endfor -%}

      </ul>

    </section>
  </nav>
  {%- endif -%}
</div>
