<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/assets/css/slick.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/slick-theme.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/foundation.min.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/app.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <noscript>
    <style>
    div.no-js { position: relative; }
    nav.no-js { height: auto; }
    .tabs-content > div.no-js { display: block; }
    </style>
  </noscript>


  <script src="{{ "/assets/js/vendor/modernizr.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/vendor/jquery.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/vendor/slick.min.js" | relative_url }}"></script>

  <script src="{{ "/assets/js/foundation/foundation.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/foundation/foundation.reveal.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/foundation/foundation.topbar.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/foundation/foundation.tab.js" | relative_url }}"></script>
  <script src="{{ "/assets/js/foundation/foundation.dropdown.js" | relative_url }}"></script>

  <script src="{{ "/assets/js/ns3-scripts.js" | relative_url }}"></script>

  {%- feed_meta -%}
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}
</head>
