---
layout: page
title: News & Events
permalink: /about/news-events/
---

{%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta post-date">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
      <p>
        <a class="read-more" href="{{ post.url | relative_url }}">Read more &raquo;</a>
      </p>
    </li>
    {%- endfor -%}
  </ul>

{%- endif -%}
