<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="f-topbar-fixed">

    {%- include header.html -%}

    <main class="page-content row" aria-label="Content">
      <div class="column">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
